
body{
  background-color: #2E3F60;
  color: black;
  font-family: 'Helvetica', sans-serif;
  margin:0;
  padding: 0;
}

.navbar{
  background-color: #3E598E;
  overflow:hidden;
}

.navbar ul{
  color: #414A5C;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.navbar li{
  font-weight: bold;
  margin-bottom: 10px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    display: block;
    color: black; 
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
}

.navbar ul li a: hover {
    background-color: #5C6A85;
    color: black;
}

.center-head{
  text-align: center;
}
a{
  color: #243046
}


title{
  color: grey;
  font-size: 36;
}

h2{
  color: black;
}
