
body{
  background-color: darkblue;
  color: black;
  font-family: 'Helvetica', sans-serif;
  margin:0;
  padding: 0;
}

ul{
  color: greyblue;
  list-style-type: none;
  padding: 0;
}

li{
  margin-bottom: 10px;
}

h2{
  color: black;
}
